.size-block{
    display: flex;
    background-color: #212121;
    height: 100%;
    justify-content: space-around;
}

.color-font{
    display: flex;
    color: #00858b;
    font-family: 'Raleway bold', sans-serif;
    font-size: 2.5em;
    margin-top: 0;
    padding-top: 1em; 
    justify-content: center;
}

.list-text_style{
    color: rgb(255, 255, 255);
    font-family: 'Raleway Black', sans-serif;
    font-size: 1.2em;
    list-style-type: circle;
}

.list-subtext_style{
    color: rgb(180, 180, 180);
    font-family: 'Raleway', sans-serif;
    font-size: 0.95em;
}

.margin-special{
    margin-top: 1em; 
}