.nav-font{
    color: #00858b;
}

.bottom-effect::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #00858b;
    transition: width .6s;
}

.bottom-effect:hover::after {
    width: 100%;
}

.image-icon{
    width: 2.3em;
    height: 2.3em;
}

.image-box{
    display: flex;
    padding: 0 3em 0 0;
    margin-top: 3em;
    justify-content: space-evenly;
}

.icon-effect:hover{
    fill:#00858b;
}

a.icon-minus__radius{
    width:0;
    height: 0;
}

button{
    width: 0;
    height: 10px;
}